@import '~vant/lib/index.less';

@contentPadding:15px;
@headerH:50px;
@footerH:65px;
@containerW:25rem;

@maincolor1:#bc231e;
@maincolor2:#f3dbb7;
@maincolor3:#ff6034;
@maincolor4:#ee0a24;
@black1:#434343;
@black2:#7e7e7e;
@white1:#f4f4f4;




@nav-bar-height:45px;
@nav-bar-arrow-size:1.2rem;
@nav-bar-icon-color:@black1;
@nav-bar-text-color:@black1;
@nav-bar-title-font-size:1rem;
@nav-bar-title-text-color:@black1;
@nav-bar-z-index:10;
@nav-bar-background-color:@white1;


@button-info-background-color:@maincolor1;
@button-info-border-color:@maincolor1;
@button-default-border-color:@black2;
@button-default-color:@black2;

@search-content-background-color:@white;





// /deep/ .el-button--primary{
//     border-color:@maincolor1;
//     background-color:@maincolor1
// }