<template>
  <div class="main_container">
    
    
  </div>
</template>
<script>
import { mapState } from "vuex";
import _ from "lodash";
import searchBar from "@/components/searchBar.vue";
export default {
  name: "goodsDetail",
  components: {  },
  data() {
    return {
     
    };
  },
  computed: {},
  mounted() {},
  methods: {
    
  },
  watch: {},
};
</script>
<style scoped lang="less">
@import "~@/assets/css/global.less";
@card-background-color:#fff;
@card-padding:10px 0;
@card-title-line-height:20px;
@card-price-color:@maincolor4;
@card-price-font-size:1rem;
.search_list{
  background:#fff;
  padding:@contentPadding;
  text-align: left;
  height: calc(~"100vh - @{headerH}");
  overflow-y:auto;
  .item_box{
    cursor: pointer;
  }
}
</style>
