<template>
  <div class="main_container">
    <page-head type="order"></page-head>
    <div class="tab_nav container">
      <a
        href="javascript:void(0)"
        class="nav_a"
        @click="changeTab(item)"
        :class="{ current: item.id == activeTab }"
        v-for="(item, index) in orderTabs"
        :key="index"
        >{{ item.name }}</a
      >
    </div>
    <div class="tab_content container">
      <div class="goods_item">
        <div class="title_info">
          逛噻精选
          <span>已收货</span>
        </div>
        <div class="goods_box">
          <figure>
            <img src="@/assets/images/goods_2.jpg" />
          </figure>
          <section>
            <h5>商品名称</h5>
            <h6>规格描述</h6>
            <div class="price">
              <p>¥ 86.00</p>
              <p>x 1</p>
            </div>
          </section>
        </div>
        <div class="other_info">
          共1件商品，总金额¥<span>86.00</span>
        </div>
        <div class="goods_btn">
          <van-button plain round type="default" size="mini">再次购买</van-button>
          <van-button round type="info" size="mini">去评价</van-button>
        </div>
      </div>
      <div class="goods_item">
        <div class="title_info">
          逛噻精选
          <span>已收货</span>
        </div>
        <div class="goods_box">
          <figure>
            <img src="@/assets/images/goods_2.jpg" />
          </figure>
          <section>
            <h5>商品名称</h5>
            <h6>规格描述</h6>
            <div class="price">
              <p>¥ 86.00</p>
              <p>x 1</p>
            </div>
          </section>
        </div>
        <div class="other_info">
          共1件商品，总金额¥<span>86.00</span>
        </div>
        <div class="goods_btn">
          <van-button plain round type="default" size="mini">再次购买</van-button>
          <van-button round type="info" size="mini">去评价</van-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import _ from "lodash";
import pageHead from "@/components/pageHead.vue";
export default {
  name: "MyOrder",
  components: { pageHead },
  data() {
    return {
      orderTabs: [
        { id: 1, name: "全部" },
        { id: 2, name: "待付款", type: 1 },
        { id: 3, name: "待收货", type: 2 },
        { id: 4, name: "退款订单", type: 3 },
        { id: 5, name: "已收货", type: 4 },
      ],
      activeTab: 1,
    };
  },
  computed: {},
  mounted() {},
  methods: {
    changeTab(item) {
      this.activeTab = item.id;
    },
  },
  watch: {},
};
</script>
<style scoped lang="less">
@import "~@/assets/css/global.less";
@tabNavH: 50px;
.tab_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: @tabNavH;
  background: @white1;
  a {
    display: block;
    color: #5f5f5f;
    text-align: center;
    padding: 0 0.8rem;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 0.8rem;
  }
  .current {
    background: linear-gradient(to right, #ebca7b, #d8b058);
    color: #fff;
  }
}
.tab_content {
  background: @white1;
  height: calc(~"100vh - @{nav-bar-height} - @{tabNavH}");
  overflow-y: auto;
}
.goods_item{
  background:#fff;
  border-radius: 10px;
  padding:.8rem;
  margin-top:@contentPadding;
  .title_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: @black1;
    font-weight: bold;
    font-size:1rem;
    span{
      font-size:.8rem;
      font-weight: normal;
    }
  }
  .goods_box{
    display: flex;
    figure{
      width:30%;
      img{
        width:100%;
      }
    }
    section{
      width:70%;
      padding-left:1.5rem;
      text-align: left;
      position:relative;
      h5{
        font-size:.8rem;
        margin-bottom:.5rem;
      }
      h6{
        font-size:.6rem;
        color:@black1;
      }
      .price{
        position: absolute;
        right:0;
        top:0;
        p{
          color:#5f5f5f;
          font-size:.6rem;
          text-align: right;
        }
      }
    }
  }
  .other_info{
    text-align: right;
    margin:.5rem 0;
    font-size:.6rem;
    color: @black1;
    span{
      font-size:1rem;
      padding-left:.5rem;
    }
  }
  .goods_btn{
    text-align: right;
    button{
      padding:0 .5rem;
      margin-left:.8rem;
    }
  }
}
</style>
