<template>
  <footer class="footer">
    <div class="footer_bar container">
      <a href="javascript:void(0)" :class="{'current':item.name==currentRouteName}" v-for="(item,index) in footList" :key="index" @click="toLink(item)">
        <i :class="item.icon"></i>
        <span class="title">{{item.title}}</span>
        <span class="tips" v-if="item.name=='shoppingCart'">{{ cartLen }}</span>
      </a>
    </div>
  </footer>
</template>

<script>
import { mapState } from "vuex";
import _ from 'lodash'
export default {
  name: "FootBar",
  props: {
    
  },
  data(){
    return{
      footList:[
        {
          title:"首页",
          icon:"el-icon-goods",
          link:"",
          name:"Index",
          path:"/index"
        },
        {
          title:"购物车",
          icon:"el-icon-shopping-cart-2",
          link:"",
          name:"shoppingCart",
          path:"/shopping-cart"
        },
        {
          title:"我的",
          icon:"el-icon-user",
          link:"",
          name:"myInfo"
        }
      ],
      currentRouteName:"Index"
    }
  },
  computed:{
     ...mapState({
      cartLen:(state) => state.common.cartLen,
    })
  },
  methods:{
    toLink(item){
      sessionStorage.setItem("currentRouteName",item.name);
      this.$router.push({name:item.name});
    }
  },
  mounted(){
    this.currentRouteName = sessionStorage.getItem("currentRouteName");
  }
};
</script>


<style scoped lang="less">
@import "~@/assets/css/global.less";
.footer {
  height: @footerH;
  background:#fafafa;
  // position: fixed;
  // bottom:0;
  // width:100%;
  // z-index: 10;
  left:0;
  .footer_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 @contentPadding;
    height:100%;
    border-top: 1px #eee solid;
    a {
      display: block;
      text-align: center;
      color: #333;
      text-decoration: none;
       font-size:1.5rem;
       line-height:1.2;
       position: relative;
      .title {
        display: block;
        font-size:14px;
      }
      .tips{
        position: absolute;
        display: block;
        background:@maincolor1;
        color: #fff;
        border-radius: 50%;
        width:1rem;
        height:1rem;
        line-height:1rem;
        right:-5px;
        top:-5px;
        font-size:0.5rem;
      }
    }
    a.current{
      color: @maincolor1;
    }
  }
}
</style>
