<template>
   <van-nav-bar :border="false" :title="$route.meta.title" left-arrow @click-left="back" left-text="" @click-right="search">
  <template #right>
    <van-icon name="search" size="18" />
  </template>
</van-nav-bar>
</template>

<script>

export default {
  name: 'pageHead',
  props: ["type"],
  data(){
    return{
       keyWords:"",
    }
  },
  methods:{
    back(){
      history.go(-1);
    },
    search(){
      this.$router.push({name:"SearchResult",query:{type:this.type}})
    }
  }
}
</script>


<style scoped lang="less">
@import "~@/assets/css/global.less";
@searchH:1.875rem;
header { 
  height: @headerH;
 padding-top:10px;
  background:#fff;
}
.search_bar{
   /deep/ .el-input__inner{
      border-radius:@searchH;
  height:@searchH;
padding-right:3.75rem;
border:2px @maincolor1 solid;

   }
  /deep/ .el-input__icon{
    line-height:@searchH
  }
  .search_btn{
    position: absolute;
    right:0;
    height:@searchH;
    background: @maincolor1;
    border-color:@maincolor1;
  }
}
</style>
