<template>
   <div class="search_bar container">
     <a href="javascript:void(0)" @click="back"><van-icon name="arrow-left" /></a>
     <van-search class="search_input" shape="round" size="small" v-model="keyWords" placeholder="请输入搜索关键词" @search="toSearch" />
     <van-button size="small" round type="primary" class="search_btn" @click="toSearch">搜索</van-button>
   </div>
</template>

<script>

export default {
  name: 'searchBar',
  props: [""],
  data(){
    return{
       keyWords:"",
    }
  },
  methods:{
    back(){
      history.go(-1);
    },
    toSearch(){
      this.$emit('search',this.keyWords);
    }
  }
}
</script>


<style scoped lang="less">
@import "~@/assets/css/global.less";
@searchH:@headerH;
@search-background-color:@white1;
@search-padding:10px 0;
@searchBtnW:60px;
.search_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: @white1;
  .search_input{
    width:calc(~"100% - @{searchBtnW} - @{contentPadding} * 2 - 20px");
  }
  a{
    font-size:1.5rem;
    color: @black1;
  }
  .search_btn {
    background: @maincolor1;
    border-color: @maincolor1;
    width:@searchBtnW;
  }
}
</style>
